<div style="margin-left: 20px">
	<%= form_with model: @operators do |form| %>
	<div class="col">
		 <h5><%= form.label :operator_name, style: "display: block" %> </h5>
		<%= form.text_field :operator_name %>


		 <h5><%= form.label :area, style: "display: block" %> </h5>
		<%= form.text_field :area %>


		 <h5><%= form.label :location, style: "display: block" %> </h5>
			<%= form.text_field :location %>


      <h5><%= form.label :plant_type, style: "display: block" %> </h5>
      
        <%= form.select :plant_type, options_for_select([["select"],"RO", "STP", "ETP"]), { class: "genForm_dropBox", required: true } %>
    </div>
		<br>
		<br>


      <div class="action">
        <%= form.submit class:'btn btn-primary' %>
      </div>


	<% end %>
</div>