<div style="margin-left: 20px">
	<%= form_with model: @operator do |form| %>
		<div class="col">
			 <h5><%= form.label :operator_name, style: "display: block" %> </h5>
					<%= form.text_field :operator_name %>


			 <h5><%= form.label :area, style: "display: block" %> </h5>
					<%= form.select 'area_id', options_for_select(@areas.collect{ |u| [u.area_name, u.id] }), options ={:prompt => "Select Area"} %>

			 <h5><%= form.label :location, style: "display: block" %> </h5>
					<%= form.select 'location_id', options_for_select(@locations.collect{ |u| [u.location_name, u.id] }), options ={:prompt => "Select Location"} %>


	      <h5><%= form.label :plant_type, style: "display: block" %> </h5>
	      
	        <%= form.select :plant_type, options_for_select([["select plant"],"RO", "STP", "ETP"]), { class: "genForm_dropBox", required: true } %>
          <%= form.number_field :user_id, value:current_user.id, type: :hidden %>
	        
	    </div>
			<br>
			<br>


      <div class="action">
        <%= form.submit class:'btn btn-primary' %>
      </div>


	<% end %>
</div>