<div>
	<%= form_with model: @operators do |form| %>
	<%= form.label :operator_name %>
	<%= form.text_field :operator_name %>


	<%= form.label :area %>
	<%= form.text_field :area %>
	<br>
	<br>

	<%= form.label :location %>
	<%= form.text_field :location %>

	<%= form.label :plant_type %>
	<%= form.text_field :plant_type %>
		<br>
		<br>


      <div class="action">
        <%= form.submit class:'btn btn-primary' %>
      </div>


	<% end %>
</div>