

<%= form_with model: RoDpr do |form| %>
   <!--  <#% if ro_dpr.errors.any? %>
      <div>
        <h2><#%= pluralize(ro_dpr.errors.count, "error") %> prohibited this ro_dpr from being saved:</h2>

        <ul>
          <#% ro_dpr.errors.each do |error| %>
            <li><#%= error.full_message %></li>
          <#% end %>
        </ul>
      </div>
    <#% end %> -->

  <div class="field form-group">
     <% form.label :sr_no, style: "display: block" %>
    <% form.text_field :sr_no, class:"form-control", placeholder:"Sr No" %>
   
  </div>
  <br>
  <div class="field form-group">
     <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location, class:"form-control", placeholder:"location" %>
   
  </div>
<br>
  <div class="field form-group">
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, class:"form-control", placeholder:"name" %>
  </div>
<br>
  <div class="field form-group">
    <%= form.label :tshirt, style: "display: block" %>
    <%= form.text_field :tshirt, class:"form-control", placeholder: "0-1" %>

  </div>
<br>
  <div class="field form-group">
    <%= form.label :icard, style: "display: block" %>
    <%= form.text_field :icard, class:"form-control", placeholder:"0-1" %>
  </div>
<br>
  <div class="field form-group">
    <%= form.label :mask, style: "display: block" %>
    <%= form.text_field :mask, class:"form-control", placeholder:"0-1" %>
  </div>
<br>
  <div class="field form-group">
    <%= form.label :shoes, style: "display: block" %>
    <%= form.text_field :shoes, class:"form-control", placeholder:"0-1" %>

  </div>
  <br>
  <div class="field form-group">
    <%= form.label :hygiene, style: "display: block" %>
    <%= form.text_field :hygiene, class:"form-control", placeholder:"0-1" %>

  </div>
  <br>
  <div class="field form-group">
    <%= form.label :live_location, style: "display: block" %>
    <%= form.text_field :live_location, class:"form-control", placeholder:"0-1" %>

  </div>
  <br>
  <div class="field form-group">
    <%= form.label :behaviour, style: "display: block" %>
    <%= form.text_field :behaviour, class:"form-control", placeholder:"0-1" %>

  </div>
  <br>
  <div class="field form-group">
    <%= form.label :punctuality, style: "display: block" %>
    <%= form.text_field :punctuality, class:"form-control", placeholder:"0-1" %>

  </div>
  <br>
   <div class="field form-group">
    <%= form.label :photos, style: "display: block" %>
    <%= form.text_field :photos, class:"form-control", placeholder:"0-1" %>

  </div>
  <br>
   <div class="field form-group">
    <%= form.label :machine_videos, style: "display: block" %>
    <%= form.text_field :machine_videos, class:"form-control", placeholder:"0-1" %>

  </div>
  <br>
   <div class="field form-group">
    <%= form.label :feedback, style: "display: block" %>
    <%= form.text_field :feedback, class:"form-control", placeholder:"0-1" %>

  </div>
  <br>
   <div class="field form-group">
    <%= form.label :inspaction, style: "display: block" %>
    <%= form.text_field :inspaction, class:"form-control", placeholder:"0-1" %>

  </div>
  <br>
   <div class="field form-group">
    <%= form.label :backlight, style: "display: block" %>
    <%= form.text_field :backlight, class:"form-control", placeholder:"0-1" %>

  </div>
  <br>
   <div class="field form-group">
    <%= form.label :wraping, style: "display: block" %>
    <%= form.text_field :wraping, class:"form-control", placeholder:"0-1" %>

  </div>
  <br>
   <div class="field form-group">
    <%= form.label :tv, style: "display: block" %>
    <%= form.text_field :tv, class:"form-control", placeholder:"0-5" %>

  </div>
  <br>
   <div class="field form-group">
    <%= form.label :glass, style: "display: block" %>
    <%= form.text_field :glass, class:"form-control", placeholder:"0-1" %>

  </div>
  <br>
   <div class="field form-group">
    <%= form.label :nozzle, style: "display: block" %>
    <%= form.text_field :nozzle, class:"form-control", placeholder:"0-1" %>

  </div>
  <br>
   <div class="field form-group">
    <%= form.label :cip_backwash, style: "display: block" %>
    <%= form.text_field :cip_backwash, class:"form-control", placeholder:"0-1" %>

  </div>
  <br>
   <div class="field form-group">
    <%= form.label :cleaning, style: "display: block" %>
    <%= form.text_field :cleaning, class:"form-control", placeholder:"0-1" %>

  </div>
  <br>
   <div class="field form-group">
    <%= form.label :camera, style: "display: block" %>
    <%= form.text_field :camera, class:"form-control", placeholder:"0-1" %>

  </div>
  <br>
   <div class="field form-group">
    <%= form.label :tdh_ph, style: "display: block" %>
    <%= form.text_field :tdh_ph, class:"form-control", placeholder:"0-1" %>

  </div>
  <br>
   <div class="field form-group">
    <%= form.label :flow_temp, style: "display: block" %>
    <%= form.text_field :flow_temp, class:"form-control", placeholder:"0-1" %>

  </div>
  <br>
   <div class="field form-group">
    <% form.label :total_mark, style: "display: block" %>
    <% form.text_field :total_mark, class:"form-control"%>

  </div>
  <br>
  <!-- <div class="field form-group">
    <#% form.label :user_id, style: "display: block" %>
    <#%= form.number_field :user_id, id: :ro_dpr_user_id, class:"form-control", value:current_user.id, type: :hidden %>

  </div>  -->
<br>

  <div class="action">
    <%= form.submit class:'btn btn-primary' %>
  </div>
<% end %>

