<div class="card">

  <div class="card-header">
    <h1>New Location</h1>
  </div>
  <br>
   <div style="margin-top: 10px;">

       <%= form_with model: @Locations do |form| %>
       		
       		<%= form.label :location_name %>
       		<%= form.text_field :location_name %>


       		<%= form.label :area %>
       		<%= form.select :areas, @areas.collect {|u| [ u.areas ] } %>

		   	<br>
			<br>


		  <div class="action">
		    <%= form.submit class:'btn btn-primary' %>
		  </div>

       <% end %>

       
   </div>
</div>

