
<h1>Locations</h1>

<div class="container">
	<ol class="list-group list-group-numbered">
		<% @locations.each do |location| %>
			<li class="list-group-item">
				 <div class="row align-items-start">
    				<div class="col">
    					<h4 class="text-uppercase" >
							<%= location.location_name %>
						</h4>
					</div>
					<div class="col">
    					<h4 class="text-uppercase" >

							<%= location.area.area_name %>
						</h4>
					</div>
					<div class="col">
				  		<%= button_to 'Destroy', location, method: :delete %>
				  	</div>
				  </div>
			</li>

		<% end %>	
	</ol>
	

</div>
<br>
<%= link_to "create location", new_location_path, class:'btn btn-primary' %>
<br>
<br>
<%= link_to "create operator", operators_new_path, class:'btn btn-primary' %>


