<div class="card">

  <div class="card-header">
    <h1>New Location</h1>
  </div>
  <br>
   <div style="margin-top: 10px;">

       <%= form_with model: @location do |form| %>
       		
           		<%= form.label :location_name %>
           		<%= form.text_field :location_name %>

                <br>
                <br>
           		<%= form.label :area_name %>
              <%= form.select 'area_id', options_for_select(@areas.collect{ |u| [u.area_name, u.id] }), options ={:prompt => "Select a Area"} %>
           		<%#= form.select :area_name, @areas.collect {|u| [ u.area_name ] } %>
              <%##= form.text_field :area_id, value:15 %>

              <%#= form.collection_select :area_name, @areas, :area_name %> 

              <%#= form.collection_select :area_name, @areas.order(:area_id), :area_name, :area_name %>
              <%#= form.collection_select(:area_name, :area_id, @areas, :id) %>

              
    		   	<br>
    			<br>


    		  <div class="action">
    		    <%= form.submit class:'btn btn-primary' %>
    		  </div>

       <% end %>
       
   </div>
</div>

